.left_side_pane{
    -fx-background-color: #FFFFFF;
    -fx-border-color:  #CDCDCD;
    -fx-border-width: 0px 2px 0px 0px;
    -fx-border-style: solid;
}

.left_inner_top_panel{
    -fx-background-color: #FFFFFF;
    -fx-border-color:  #CDCDCD;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-style: solid;
}

.btn_next_page{
    -fx-background-color: #FFFFFF;
    -fx-border-color:  #FFFFFF;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.right_side_pane{
    -fx-background-color: #EAEEF4;
}

.right_inner_top_panel{
    -fx-background-color: #FFFFFF;
    -fx-border-color:  #CDCDCD;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-style: solid;
}

.search_pane{
    -fx-background-color: #CDCDCD;
    -fx-background-radius: 10px;
}

.txt_search{
    -fx-background-color: transparent;
}
